.cards {
  display: flex;
  justify-content: center;
}

.card {
  text-align: center;
  margin-right: 40px;
}

.card-image {
  cursor: pointer;
  position: relative;
  margin: 0;
  width: 240px;
  height: 240px;
  background-color: #FFEA34;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.card-image:hover {
  top: -8px;
}

.image {
  width: 80%;
}
