.dashboard {
  width: 400px;
  height: 480px;
  margin-top: 40px;
}

.subtext {
  display: flex;
  justify-content: space-around;
  margin-top: 12px;
  color: var(--color-sub);
}

.dashboard-side {
  text-align: center;
}

.sub {
  font-size: 24px;
  margin-bottom: 10px;
}

.player-score {
  /* color: #E54867; */
  font-size: 32px;
}

.computer-score {
  /* color: #E54867; */
  font-size: 32px;
}
