.dashboard {
  display: flex;
  justify-content: center;
  width: 100vw;
  text-align: center;
  margin: 20px;
  color: var(--color-sub);
}

.dashboard-player {
  margin-right: 40px;
}

.sub {
  font-size: 32px;
  margin-bottom: 10px;
}

.player-score {
  /* color: #E54867; */
  font-size: 36px;
}

.computer-score {
  /* color: #E54867; */
  font-size: 36px;
}

.player-selection {
  font-size: 28px;
}

.computer-selection {
  font-size: 28px;
}
