.dashboard {
  width: 400px;
  height: 480px;
}

.subtext {
  display: flex;
  justify-content: space-around;
  color: var(--color-sub);
}

.dashboard-side {
  text-align: center;
}

.score {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 32px;
}

.message {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #195375;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: dotted;
  border-color: #E7AC45;
}

.sub {
  font-size: 24px;
  margin-bottom: 10px;
}
