.heading {
  text-align: center;
  color: var(--color-sub);
  font-size: 32px;
}

.message {
  text-align: center;
  font-size: 40px;
  color: #4298E7;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  margin: 40px
}
